<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Care Coop</title>
	
	<!-- import css files -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
	<!-- end -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div class="verifier-body">
		
		<div class="header-div">
			<div class="row row1">
				<div class="col-md-2"><h4>Client No.:</h4></div>
				<div class="col-md-2"><h4>
					<select class="form-control selectCode">
						<option value="1"></option>
					</select>
				</h4></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"><h4>Month:</h4></div>
  				<div class="col-md-2"><h4>
  					<select>
  						<option value="1">January</option>
  						<option value="2">February</option>
  						<option value="3">March</option>
  						<option value="4">April</option>
  						<option value="5">May</option>
  						<option value="6">June</option>
  						<option value="7">July</option>
  						<option value="8">August</option>
  						<option value="9">September</option>
  						<option value="10">October</option>
  						<option value="11">November</option>
  						<option value="12">December</option>
  					</select>
  				</h4></div>
  				<div class="col-md-2"></div>
			</div>
			
			<div class="row row2">
				<div class="col-md-2"><h4>Name:</h4></div>
				<div class="col-md-3"><h4 class="nameDiv"></h4></div>
				<div class="col-md-1"><h4>Status:</h4></div>
  				<div class="col-md-2"><h4 class="statusDiv"></h4></div>
  				<div class="col-md-1"></div>
			</div>
			
			<div class="row">
				<div class="col-md-3">
					<button class="btn btn-default show-info">Show Info</button>
					<button class="btn btn-default print-report">Print Report</button>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
			</div>
			
			<div class="body-div">
				<table id="table" data-toggle="table" data-toolbar="#toolbar">
					<thead>
						<tr>
							<th data-field="">Account</th>
							<th data-field="">Debit</th>
							<th data-field="">Credit</th>
							<th data-field="">Code</th>
							<th data-field="">Nature</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		
	</div>
	
	<div id="verifier-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4>Show Information</h4>
				</div>
				<div class="modal-body">
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Type: </label>
							</div>
  							<div class="col-md-4">
  								<label class="type"></label>
  							</div>
  							<div class="col-md-2"></div>
  							<div class="col-md-2"></div>
						</div>    
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
							<label>Area: </label>
							</div>
							<div class="col-md-4">
								<label class="area"></label>
							</div>
	                     	<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
                        	<label>Credit Line: </label>
	                        </div>
	                        <div class="col-md-4">
	                        	<label class="creditLine"></label>
	                        </div>
	                        <div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
                        <div class="row">
							<div class="col-md-4">
								<label>Address</label>
							</div>
	 						<div class="col-md-2"></div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
						
						<div class="row">
							<div class="col-md-2"></div>
	 						<div class="col-md-2">
	 							<label>Street: </label>
	 						</div>
							<div class="col-md-2">
								<label class="street"></label>
							</div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
						
						<div class="row">
							<div class="col-md-2"></div>
	 						<div class="col-md-2">
	 							<label>Town: </label>
	 						</div>
							<div class="col-md-2">
								<label class="town"></label>
							</div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
						
						<div class="row">
							<div class="col-md-2"></div>
	 						<div class="col-md-2">
	 							<label>City: </label>
	 						</div>
							<div class="col-md-2">
								<label class="city"></label>
							</div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
                        
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Telephone: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="telephone"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Birthday: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="bday"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Membership: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="membership"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Sex: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="sex"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Civil Status: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="civilStatus"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Occupation: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="occupation"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Beneficiary: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="beneficiary"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Closed Account: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="closedAccount"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Business: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="business"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
					<div class="form-group form-group-align">
						<div class="row">
							<div class="col-md-4">
								<label>Date Closed: </label>
							</div>
	 						<div class="col-md-4">
	 							<label class="dateClosed"></label>
	 						</div>
							<div class="col-md-2"></div>
	 						<div class="col-md-2"></div>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>
	
	<!-- import of javascript files -->
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/app/verifier.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<!-- end -->
	
</body>
</html>

