<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Care Coop</title>
	
	<!-- import css files -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
	<!-- end -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div class="verifier-body">
		
		<div class="header-div">
			<div class="row row1">
				<div class="col-md-2"><h4>Code:</h4></div>
				<div class="col-md-2"><h4>1234</h4></div>
				<div class="col-md-2"><h4>Month:</h4></div>
  				<div class="col-md-2"><h4>Jan</h4></div>
  				<div class="col-md-2"></div>
  				<div class="col-md-2"></div>
			</div>
			
			<div class="row row2">
				<div class="col-md-2"><h4>Name:</h4></div>
				<div class="col-md-2"><h4>1234</h4></div>
				<div class="col-md-2"><h4>Status:</h4></div>
  				<div class="col-md-2"><h4>Jan</h4></div>
  				<div class="col-md-2"></div>
  				<div class="col-md-2"></div>
			</div>
			
			<div class="row">
				<div class="col-md-3">
					<button class="btn btn-default show-info">Show Info</button>
					<button class="btn btn-default print-report">Print Report</button>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
				<div class="col-md-3"></div>
			</div>
			
			<div class="body-div">
				<table id="table" data-toggle="table" data-toolbar="#toolbar">
					<thead>
						<tr>
							<th data-field="">Account</th>
							<th data-field="">Debit</th>
							<th data-field="">Credit</th>
							<th data-field="">Code</th>
							<th data-field="">Nature</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		
	</div>
	
	<div id="verifier-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4>Show Information</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Type</label>
                        <label>type</label>
					</div>
					<div class="form-group">
						<label>Area</label>
                        <label>area</label>
					</div>
					<div class="form-group">
						<label>Credit Line</label>
                        <label>credit line</label>
					</div>
					<div class="form-group">
						<label>Address</label>
                        <label>Street</label>
                        <label>Town</label>
                        <label>City</label>
					</div>
					<div class="form-group">
						<label>Telephone</label>
                        <label>telephone</label>
					</div>
					<div class="form-group">
						<label>Birthday</label>
                        <label>birthday</label>
					</div>
					<div class="form-group">
						<label>Membership</label>
                        <label>membership</label>
					</div>
					<div class="form-group">
						<label>Sex</label>
                        <label>sex</label>
					</div>
					<div class="form-group">
						<label>Civil Status</label>
                        <label>civil status</label>
					</div>
					<div class="form-group">
						<label>Occupation</label>
                        <label>occupation</label>
					</div>
					<div class="form-group">
						<label>Beneficiary</label>
                        <label>beneficiary</label>
					</div>
					<div class="form-group">
						<label>Closed Account</label>
                        <label>true</label>
					</div>
					<div class="form-group">
						<label>Business</label>
                        <label>business</label>
					</div>
					<div class="form-group">
						<label>Date Closed</label>
                        <label>date</label>
					</div>
				</div>	
			</div>	
		</div>
	</div>
	
	<!-- import of javascript files -->
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/app/init.js}"></script>
	<script type="text/javascript" th:src="@{/js/app/verifier.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<!-- end -->
	
</body>
</html>

