<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Care Coop</title>
	
	<!-- import css files -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
	<!-- end -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Cash Disbursement</h1>
	
	<!-- import of javascript files -->
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/app/cashdisbursement.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<!-- end -->
	
</body>
</html>

