body {
	position: relative;
}

.header-wrapper {
	text-align: center;
}

.section-wrapper {
	text-align: center;
}

.footer-wrapper {
	text-align: center;
}

header {
	margin-top: -20px;
	background-color: #27ae60;
	height: 80px;
}

/* Nav Class */
nav {
	background-color: #ecf0f1;
	height: 528px;	
	width: 233px;
	margin-top: -19px;
}

.nav-wrapper {
	position: relative;
	text-align: center;
	height: 100%;
	margin-top: 20px;
}

.list-menu-wrapper {
	position: absolute;
	width: 100%;
	top: 15px;
	left: 0;
}

.list-menu {
	margin-left: -40px;
}

.list-menu li {
	height: 30px;
	margin-top: 15px;
	text-align: left;
	list-style: none;
	border-radius: 2px;
}

.list-menu li h4 {
	margin-left: 10px;
}

li:hover{
	cursor: pointer;
	background-color: #fff;
}
/* end Nav Class */

/* Section Class */
section {
	position: absolute;
	top: 123px;
	left: 233px;
	width: 82.9%;
	height: 487px;
	margin-top: -1px;
}

.main-body {
	height: 541px;
	overflow-x: hidden;
	margin-top: -41px;
}
/* end Nav Class */

footer {
	background-color: #ecf0f1;
	height: 55px;
	margin-top: -19px;
}

/* Verifier Class */
.header-div {
	border: 1px solid;
	height: 150px;
}

.row1 {
	margin-top: 23px;
}

.body-div {
	overflow-y: scroll;
	border: 1px solid;
	margin-top: 15px;
	height: 376px;
}
/* end Verifier Class */