<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Aconter Accounting</title>
	
	<!-- import css files -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/jquery-ui/jquery-ui.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
	
	<!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<!-- end -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<header>
		<div class="wrapper header-wrapper">
			<h3 class="home-link">Aconter</h3>
		</div>
	</header>
	
	<nav>
		<div class="wrapper nav-wrapper">
			<div class="list-menu-wrapper">
				<ul id="list-menu" class="list-menu">
					<li class="verifier" id="1"><h4>Verifier</h4></li>
					<li class="cash-collection" id="2"><h4>Cash Collection</h4></li>
					<li class="cash-disbursement" id="3"><h4>Cash Disbursement</h4></li>
					<li class="journal-voucher" id="4"><h4>Journal Voucher</h4></li>
					<li class="general-ledger" id="5"><h4>General Ledger</h4></li>
					<li class="subsidiary-ledger" id="6"><h4>Subsidiary Ledger</h4></li>
					<li class="setup-computation" id="7"><h4>Setup and Computation</h4></li>
					<li class="utility" id="8"><h4>Utility</h4></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<section>
		<div class="wrapper section-wrapper">
			<div class="main-body">
				<div class="img-logo-container">
					<img alt="Coop Logo" th:src="@{/images/logo.jpg}" />
				</div>
			</div>
		</div>
	</section>
	

	
	<!-- import of javascript files -->
	<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-ui/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-table.js}"></script>
	<script type="text/javascript" th:src="@{/js/app/init.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<!-- end -->
	
</body>
</html>

